[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git

[submodule "content/repo2"]
	path = content/repo2
	url = https://github.com/vaishnavi-wagajeep/repo2.git
[submodule "content/repo3"]
	path = content/repo3
	url = https://github.com/vaishnavi-wagajeep/repo3.git
[submodule "content/repo1"]
	path = content/repo1
	url = https://github.com/vaishnavi-wagajeep/repo1.git
